
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.Screen1_314_16_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilecollapsibleset_31 */
.Screen1_314_16_mobilecollapsibleset_31 {
	margin: 8px 5px 8px 5px;
}
/* mobilecollapsblock_32 */
.Screen1_314_16_mobilecollapsblock_32 {

}
.Screen1_314_16_mobilecollapsblock_32 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilelabel_57 */
.Screen1_314_16_mobilelabel_57 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_59 */
.Screen1_314_16_mobilelabel_59 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_73 */
.Screen1_314_16_mobilelabel_73 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_60 */
.Screen1_314_16_mobilelabel_60 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_61 */
.Screen1_314_16_mobilelabel_61 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_72 */
.Screen1_314_16_mobilelabel_72 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_62 */
.Screen1_314_16_mobilelabel_62 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_63 */
.Screen1_314_16_mobilelabel_63 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_70 */
.Screen1_314_16_mobilelabel_70 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_64 */
.Screen1_314_16_mobilelabel_64 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_65 */
.Screen1_314_16_mobilelabel_65 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_71 */
.Screen1_314_16_mobilelabel_71 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_35 */
.Screen1_314_16_mobilecollapsblock_35 {

}
.Screen1_314_16_mobilecollapsblock_35 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilelabel_66 */
.Screen1_314_16_mobilelabel_66 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_67 */
.Screen1_314_16_mobilelabel_67 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_74 */
.Screen1_314_16_mobilelabel_74 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_68 */
.Screen1_314_16_mobilelabel_68 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_69 */
.Screen1_314_16_mobilelabel_69 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_75 */
.Screen1_314_16_mobilelabel_75 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_38 */
.Screen1_314_16_mobilecollapsblock_38 {

}
.Screen1_314_16_mobilecollapsblock_38 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilelabel_77 */
.Screen1_314_16_mobilelabel_77 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_78 */
.Screen1_314_16_mobilelabel_78 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_79 */
.Screen1_314_16_mobilelabel_79 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_81 */
.Screen1_314_16_mobilelabel_81 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_82 */
.Screen1_314_16_mobilelabel_82 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_83 */
.Screen1_314_16_mobilelabel_83 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_84 */
.Screen1_314_16_mobilelabel_84 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_85 */
.Screen1_314_16_mobilelabel_85 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_86 */
.Screen1_314_16_mobilelabel_86 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_87 */
.Screen1_314_16_mobilelabel_87 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_88 */
.Screen1_314_16_mobilelabel_88 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_89 */
.Screen1_314_16_mobilelabel_89 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_90 */
.Screen1_314_16_mobilelabel_90 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_91 */
.Screen1_314_16_mobilelabel_91 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_41 */
.Screen1_314_16_mobilecollapsblock_41 {

}
.Screen1_314_16_mobilecollapsblock_41 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilelabel_92 */
.Screen1_314_16_mobilelabel_92 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_93 */
.Screen1_314_16_mobilelabel_93 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_94 */
.Screen1_314_16_mobilelabel_94 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_95 */
.Screen1_314_16_mobilelabel_95 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_96 */
.Screen1_314_16_mobilelabel_96 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_97 */
.Screen1_314_16_mobilelabel_97 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_98 */
.Screen1_314_16_mobilelabel_98 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_99 */
.Screen1_314_16_mobilelabel_99 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_100 */
.Screen1_314_16_mobilelabel_100 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_44 */
.Screen1_314_16_mobilecollapsblock_44 {

}
.Screen1_314_16_mobilecollapsblock_44 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilelabel_115 */
.Screen1_314_16_mobilelabel_115 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_116 */
.Screen1_314_16_mobilelabel_116 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_117 */
.Screen1_314_16_mobilelabel_117 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_101 */
.Screen1_314_16_mobilelabel_101 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_102 */
.Screen1_314_16_mobilelabel_102 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_103 */
.Screen1_314_16_mobilelabel_103 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_107 */
.Screen1_314_16_mobilelabel_107 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_104 */
.Screen1_314_16_mobilelabel_104 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_105 */
.Screen1_314_16_mobilelabel_105 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_106 */
.Screen1_314_16_mobilelabel_106 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecollapsblock_53 */
.Screen1_314_16_mobilecollapsblock_53 {

}
.Screen1_314_16_mobilecollapsblock_53 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilelabel_108 */
.Screen1_314_16_mobilelabel_108 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_109 */
.Screen1_314_16_mobilelabel_109 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_110 */
.Screen1_314_16_mobilelabel_110 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_111 */
.Screen1_314_16_mobilelabel_111 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_112 */
.Screen1_314_16_mobilelabel_112 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_113 */
.Screen1_314_16_mobilelabel_113 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter */
.Screen1_314_16_mobilefooter {
	min-height:38px;
}
/* mobilebutton_23 */
#Screen1_314_16_mobilebutton_23 {

}
.ui-btn.Screen1_314_16_mobilebutton_23 {
	margin: 4px 5px 4px 5px;
}