
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.Screen2_315_16_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilecarousel_17 */
.Screen2_315_16_mobilecarousel_17 {
	margin: 0px 0px 0px 0px!important;
}
.Screen2_315_16_mobilecarousel_17 ul {
	margin: 0px 0px 0px 0px!important;
}
.Screen2_315_16_mobilecarousel_17 .ui-carousel-box {
	min-height: 50px;
}
/* mobilecarouselitem_18 */
.Screen2_315_16_mobilecarouselitem_18 .ui-carousel-box {
	padding: 0px 0px 0px 0px;
}
/* mobilelabel_36 */
.Screen2_315_16_mobilelabel_36 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_37 */
.Screen2_315_16_mobilelabel_37 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_38 */
.Screen2_315_16_mobilelabel_38 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_39 */
.Screen2_315_16_mobilelabel_39 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_40 */
.Screen2_315_16_mobilelabel_40 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_41 */
.Screen2_315_16_mobilelabel_41 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecarouselitem_19 */
.Screen2_315_16_mobilecarouselitem_19 .ui-carousel-box {
	padding: 0px 0px 0px 0px;
}
/* mobilelabel_42 */
.Screen2_315_16_mobilelabel_42 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_43 */
.Screen2_315_16_mobilelabel_43 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_48 */
.Screen2_315_16_mobilelabel_48 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_49 */
.Screen2_315_16_mobilelabel_49 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_44 */
.Screen2_315_16_mobilelabel_44 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_45 */
.Screen2_315_16_mobilelabel_45 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_47 */
.Screen2_315_16_mobilelabel_47 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_50 */
.Screen2_315_16_mobilelabel_50 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_46 */
.Screen2_315_16_mobilelabel_46 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecarouselitem_20 */
.Screen2_315_16_mobilecarouselitem_20 .ui-carousel-box {
	padding: 0px 0px 0px 0px;
}
/* mobilelabel_51 */
.Screen2_315_16_mobilelabel_51 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_55 */
.Screen2_315_16_mobilelabel_55 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_57 */
.Screen2_315_16_mobilelabel_57 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_59 */
.Screen2_315_16_mobilelabel_59 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_60 */
.Screen2_315_16_mobilelabel_60 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_58 */
.Screen2_315_16_mobilelabel_58 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_56 */
.Screen2_315_16_mobilelabel_56 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_52 */
.Screen2_315_16_mobilelabel_52 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_53 */
.Screen2_315_16_mobilelabel_53 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_54 */
.Screen2_315_16_mobilelabel_54 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_62 */
.Screen2_315_16_mobilelabel_62 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_61 */
.Screen2_315_16_mobilelabel_61 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecarouselitem_33 */
.Screen2_315_16_mobilecarouselitem_33 .ui-carousel-box {
	padding: 0px 0px 0px 0px;
}
/* mobilelabel_63 */
.Screen2_315_16_mobilelabel_63 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_70 */
.Screen2_315_16_mobilelabel_70 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_72 */
.Screen2_315_16_mobilelabel_72 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_74 */
.Screen2_315_16_mobilelabel_74 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_64 */
.Screen2_315_16_mobilelabel_64 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_71 */
.Screen2_315_16_mobilelabel_71 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_66 */
.Screen2_315_16_mobilelabel_66 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_68 */
.Screen2_315_16_mobilelabel_68 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_69 */
.Screen2_315_16_mobilelabel_69 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_67 */
.Screen2_315_16_mobilelabel_67 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_65 */
.Screen2_315_16_mobilelabel_65 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_75 */
.Screen2_315_16_mobilelabel_75 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecarouselitem_34 */
.Screen2_315_16_mobilecarouselitem_34 .ui-carousel-box {
	padding: 0px 0px 0px 0px;
}
/* mobilelabel_76 */
.Screen2_315_16_mobilelabel_76 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_78 */
.Screen2_315_16_mobilelabel_78 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_79 */
.Screen2_315_16_mobilelabel_79 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_80 */
.Screen2_315_16_mobilelabel_80 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_81 */
.Screen2_315_16_mobilelabel_81 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_77 */
.Screen2_315_16_mobilelabel_77 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_82 */
.Screen2_315_16_mobilelabel_82 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_93 */
.Screen2_315_16_mobilelabel_93 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_94 */
.Screen2_315_16_mobilelabel_94 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_95 */
.Screen2_315_16_mobilelabel_95 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_83 */
.Screen2_315_16_mobilelabel_83 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_84 */
.Screen2_315_16_mobilelabel_84 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_85 */
.Screen2_315_16_mobilelabel_85 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecarouselitem_35 */
.Screen2_315_16_mobilecarouselitem_35 .ui-carousel-box {
	padding: 0px 0px 0px 0px;
}
/* mobilelabel_86 */
.Screen2_315_16_mobilelabel_86 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_92 */
.Screen2_315_16_mobilelabel_92 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_91 */
.Screen2_315_16_mobilelabel_91 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_88 */
.Screen2_315_16_mobilelabel_88 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_90 */
.Screen2_315_16_mobilelabel_90 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_87 */
.Screen2_315_16_mobilelabel_87 {
	text-decoration: underline; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter */
.Screen2_315_16_mobilefooter {
	min-height:38px;
}
/* mobilebutton_96 */
#Screen2_315_16_mobilebutton_96 {

}
.ui-btn.Screen2_315_16_mobilebutton_96 {
	margin: 4px 5px 4px 5px;
}